html
  head
    title Ali Uzair
  body
    form(action='/', method='post')
      input(type='text')
      input(type='submit', value='Create User')
    br
    input(type='button', onclick='history.go(-1)', value='Go Back')
